<configuration debug="true" scan="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

      <!-- The STDERR appender will handle ERRORs so don't duplicate them here. -->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>DENY</onMatch>
      <onMismatch>ACCEPT</onMismatch>
    </filter>

    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>ERROR</level>
      </filter>

      <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
      <target>System.err</target>
  </appender>

<!--   <appender name="socket" class="ch.qos.logback.classic.net.SocketAppender"> -->
<!--       <RemoteHost>localhost</RemoteHost> -->
<!--       <Port>4560</Port> -->
<!--       <ReconnectionDelay>170</ReconnectionDelay> -->
<!--       <IncludeCallerData>true</IncludeCallerData> -->
<!--   </appender> -->

<!--   <appender name="socket" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender"> -->
<!--       <Compressing>true</Compressing> will automatically use correct default port Default port for compressed is 10000 and uncompressed 10001 -->
<!--       <ReconnectionDelay>10000</ReconnectionDelay> -->
<!--       <IncludeCallerData>true</IncludeCallerData> -->
<!--       <RemoteHosts>localhost</RemoteHosts> Alternatively: <RemoteHost>localhost</RemoteHost> <RemoteHost>10.200.55.13</RemoteHost>  -->
<!--       Optional: <CreatingUUID>false</CreatingUUID> -->
<!--   </appender> -->
  
  <logger name="com.sibilantsolutions.iptools.net.SocketUtils" level="INFO" />
  <logger name="com.sibilantsolutions.iptools.util.DurationLoggingRunnable" level="INFO" />
  <logger name="com.sibilantsolutions.iptools.util.DurationLoggingCallable" level="INFO" />
  <logger name="com.sibilantsolutions.grison.Grison" level="INFO" />
  <logger name="com.sibilantsolutions.grison.driver.foscam.net.CgiService" level="INFO" />
  <logger name="com.sibilantsolutions.grison.driver.foscam.net.FoscamConnection" level="INFO" />
  <logger name="com.sibilantsolutions.grison.driver.foscam.net.FoscamSession" level="INFO" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="STDERR" />
<!--     <appender-ref ref="socket" /> -->
  </root>

</configuration>
